# Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes Virtuais
venv/
.venv/
env/
.env

# Streamlit
.streamlit/secrets.toml

# Dados Locais e Logs (Gerados em tempo de execução)
data/
docs/rascunhos.md
plugin/plugin.video.tube8_explore/
plugin/plugin.video.elementum/*
*.log

# Configurações de IDE
.vscode/
.idea/

# Sistema Operacional
.DS_Store
Thumbs.db

# Credenciais Google (caso estejam na raiz)
*.json
!google_storage.py
!memory.json